body {
    margin: 0;
    padding: 0;
}

#map {
    width: 90%;
    height: 600px;
    margin: 5em auto;
}

#map2 {
    width: 90%;
    height: 600px;
    margin: 5em auto;
}

.mapboxgl-popup-content h4 {
    font-weight: 300;
    font-size: 0.9em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
}
.title {
	background-color: #fff;
	opacity: 95%;
	top: 5em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	font: .8em/.9em 'Open Sans', sans-serif;
	line-height: 2.5em;
	padding: 0em 1em 0em;
	position: absolute;
    left: 1em;
	max-width: 20%;
	margin: 0em 5em;
	z-index: 100;
    font-size: 15px;
}
.title2 {
	background-color: #fff;
	opacity: 95%;
	top: 5em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	font: .8em/.9em 'Open Sans', sans-serif;
	line-height: 2.5em;
	padding: 0em 1em 0em;
	position: absolute;
    left: 1em;
	max-width: 21%;
	margin: 41.5em 4.7em;
	z-index: 100;
    font-size: 15.9px;
}
.title h1{
	opacity: 100%;
}
.title p {
	line-height: 1.5em;
	opacity: 100%;
}
.title div span {
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin-left: 5px;
	width: 10px;
}
.title hr {
	border-top: .2em dashed #404040;
	border-bottom: 0em;
	margin-top: .75em;
	margin-bottom: .75em;
}
.title2 h1{
	opacity: 100%;
}
.title2 p {
	line-height: 1.5em;
	opacity: 100%;
}
.title2 div span {
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin-left: 5px;
	width: 10px;
}
.title2 hr {
	border-top: .2em dashed #404040;
	border-bottom: 0em;
	margin-top: .75em;
	margin-bottom: .75em;
}
.legend {
    font: 1em/1.5em 'Open Sans', sans-serif;
    padding: .6em .6em .6em .6em;
    position: relative;
    right: 10px;
    z-index: 100;
    opacity: 100%;
  }
  
  .legend h4 {
    margin: 0 0 10px;
    opacity: 100%
  }
  .legend p {
    padding-top: 0px;
    margin-top: 0px;
  }
  .legend div span {
    border-radius: 0%;
    display: inline-block;
    height: 10px;
    margin-top: 0px;
    margin-right: 20px;
    width: 10px;
  }
.legend2 {
    font: 1em/1.5em 'Open Sans', sans-serif;
    padding: .5em .5em .5em .5em;
    position: relative;
    right: 10px;
    z-index: 100;
    opacity: 100%
  }
  .legend2 h4 {
    margin: 0 0 0px;
    opacity: 100%
  }
  .legend2 p {
    padding-top: 0px;
    margin-top: 0px;
  }
  .legend2 div span {
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: auto;
    display: inline-block;
    height: 5px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    width: 5px;
    opacity: 100%
  }